/* #3D5A80 */
/* #98C1D9 */
/* #FFFFFF */
/* #EE6C4D */
/* #293241 */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #293241;
}

h1 {
  font-family: 'Lobster';
  font-size: 120px;
  padding-bottom: 0px;
  color: #98C1D9;
  margin-bottom: 40px;
}

select {
  height: 40px;
  width: 250px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;

  /* for Safari browsers to show height */
  -webkit-appearance: menulist-button;
}

input {
  vertical-align: top;
  /* padding: 10px; */
  width: 500px;
  height: 50px;
  /* padding-top: 10px; */
  /* offset to the right by a little */
  position: relative;
  right: 5px;
  margin-right: 0px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
}


p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #e8e8e8;
  margin-top: 40px;
}

li {
  margin-top: 0px;
  margin-left: 0px;
}

ul {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
}


.content button {
  vertical-align: top;
  margin-left: 0px;
  height: 52px;
  width: 50px;
  overflow: hidden;
  border: none;
  background-color: #EE6C4D;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.content button:hover {
  background-color: #db6446;
}

.user .button {
  width: 50px;
  height: 20px;
  font-family: 'Lato', sans-sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  color: black;
  float: right;
  text-align: center;
}

.user .button:hover {
  background-color: #e8e8e8;
}

.user {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}


.content {
  /* margin-top: 100px; */
  transition: 2s;
}

.welcome {
  float: right;
  margin-top: 3px;
}
/*  nav bar*/
.navbar {
    overflow: hidden;
    /* background-color: navy; */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Lato', sans-serif;
    margin: 0;
}



.navbar a:hover, .dropdown:hover, .dropbtn {
    background-color: #293241;
}

.dropdown:hover {
  background-color: #EE6C4D;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #EE6C4D;
}

.dropdown:hover .dropdown-content {
    display: block;
}











/* /////////////////////////////// */





/* stroke */

.fill ul li a {
  position: relative;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}


.fill li a {
  transition: all 1s;
}

.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill .4s forwards;
  -webkit-animation: fill .4s forwards;
  -moz-animation: fill .4s forwards;
  opacity: 1;
}

.fill li {
  list-style-type: none;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #EE6C4D;
  }
}





.overlay {
  background-color: rgba(192, 192, 192, 0.5);
  position: fixed;
  z-index: 1;
  height: 0;
  width: 100%;
  overflow-y: hidden; /* makes contents of div only appear when display is opened */
  transition: 1.5s;
}

.overlay p {
  text-decoration: none;
}

img {
  pointer-events: none; /* stop from dragging image */
  user-select: none; /* stop from highlighting image */
}

.image1 {
  /* width: 300px; */
  width: 22%;
  margin-left: 2%;
  margin-top: 160px;
 }

.image2 {
 /* width: 300px; */
 width: 22%;
 float: right;
 margin-right: -1.5%;
 margin-top: 160px;
}

.close {
  float: right;
  margin-right: 12px;
  margin-top: 8px;
  cursor: pointer;
}

.overlay p {
  font-weight: 300;
}

.explanation1 {
  width: 48%;
  min-width: 600px;
  margin: auto;
  /* margin-top: -130px; */
  /* margin-top: -10%; */
  margin-top: calc(92px - 15%);
}

.explanation2 {
  width: 48%;
  min-width: 600px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}

p a {
  text-decoration: none;
  color: #3a59d9;
}



@media (max-width: 1170px) {
  img {
    opacity: 0;
  }

  .explanation1 {
    font-size: 16px;
  }

  .explanation2 {
    font-size: 16px;
  }
}

@media (max-width: 1120px) {
  .explanation1 {
    margin-top: calc(80px - 5%);
  }
}

@media (max-width: 750px) {
  .explanation1 {
    margin-top: calc(60px + 5%);
  }
}
