/* #0e2431 */
/* #fc3a52 */
/* #f9b248 */
/* #e8d5b7 */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input {
  padding: 10px;
  width: 300px;
}

#q {
  align-self: center;
  margin: 50px;
  padding: 15px;
  height: 100%;
  width: 50%;
  overflow: hidden;

}

#search {
  align-self: center;
  margin: 50px;
  padding: 10px;
  height: 50%;
  width: 50%;
  overflow: hidden;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#myDropdown1{
  float: left;
}


#myDropdown2{
  float: right;
}

.content {
  margin-top: 200px;
}
