/* #0e2431 */
/* #fc3a52 */
/* #f9b248 */
/* #e8d5b7 */




body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin-bottom: 0;
}

/* input {
  margin: auto;
  padding: 6px;
  font-size: 16px;
} */

.navbar {
  margin-top: 0;
  padding: 10px;
  background-color: #0e2431;
  height: 50px;
}

.search-bar {
  margin-right: auto;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

li {
  margin-right: 5px;
  height: 100%;
  margin-top: 0px;
}

input[type="text"] {
    width: 350px;
    height: 35px;
    margin-top: 0px;
    padding-right: 50px;
    border: none;
    border-radius: 3px 5px 5px 3px;
    font-size: 14px;
}

input[type="submit"] {
    margin-left: -65px;
    width: 65px;
    height: 37px;

    margin-top: 0px;
    background: #fc3a52;
    color: white;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

div.left {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 50%;
  background-color: #e8d5b7;
}

div.right {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 50%;
  background-color: #d8c7ab;
}


a.profile {
  display: inline-block;
  float: right;
}
