<!DOCTYPE html>

<title>About</title>

<head>
  <link href="../CSS/about.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<div class="navbar">
  <a href='/'>Home</a>
  <a href="/about">About</a>
  <a style='float:right;'href="{{ logout_url }}"> Log Out</a></h1>
  <div class="dropdown">
    <button class="dropbtn">Version
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">Compare U.S. Sources</a>
      <a href="/international">Compare International Sources</a>
      <a href="/usinternational">Compare US & International Sources</a>
    </div>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
  <center>
    <h1 class="icon"> Mission</h1>
    <h1 class="icon"> Meet the Developers</h1>
    <center>
