<!DOCTYPE html>
<html>
<title>Home</title>



<head>
  <link href="../CSS/home.css" rel="stylesheet">


</head>

<body>


  <div class="navbar">

    <center>  <h1 class="icon">LOGO</h1>
      <form action="/results" method="post">
        <input id='q' type="text" placeholder="Search...">
        <button>search</button>
      </form>

      <center>


        <p>Choose two sources to compare:</p>

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Sources</button>
          <div id="myDropdown1" class="dropdown-content">
            <a href="#1">ABC</a>
            <a href="#2">FOX</a>
            <a href="#3">CNN</a>
          </div>
          <button onclick="myFunction()" class="dropbtn">Sources</button>
            <div id="myDropdown2" class="dropdown-content">
              <a href="#1">ABC</a>
              <a href="#2">FOX</a>
              <a href="#3">CNN</a>
            </div>
        </div>
      </center>


        <button id='search' type="Search">SEARCH</button>


</center>


  </div>


</body>
<script src=../Javascript/home.js></script>

</html>
