<!DOCTYPE html>
<html>
<title>Home</title>

<head>
  <link href="../CSS/home.css" rel="stylesheet">
</head>

<body>
  <div class="content">

    <center>
      <h1 class="icon">JuxtaPost</h1>
      <form action="/results" method="post">
        <input name="search_term" type="text" placeholder="Search...">

        <center>
          <p>Choose two sources to compare:</p>
        <select id='source1'>
          <option value="CNN">CNN</option>
          <option value="FOX">FOX</option>
          <option value="NPR">NPR</option>
          <option value="ABC">ABC</option>
        </select>
        <select id='source2'>
          <option value="CNN">CNN</option>
          <option value="FOX">FOX</option>
          <option value="NPR">NPR</option>
          <option value="ABC">ABC</option>
        </select>
        </center>

        <button id="search" type="Search">SEARCH</button>
      </form>
    </center>


  </div>
</body>

<script src=../Javascript/home.js></script>
</html>
