<!DOCTYPE html>
<html>
<head>
  <link href="../CSS/styles.css" rel="stylesheet">


</head>

<body>


  <div class="navbar">
    <ul>
      <li class="icon">Logo</li>
      <li class="search-bar">
        <input type="text" placeholder="Search...">
        <input type="submit">
      </li>
    </ul>


  </div>


    <div class="content">


      <div class="left">
        <p>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
        </p>
      </div>

      <div class="right">
        <p>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
          a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
        </p>
      </div>


  </div>














</body>

</html>
