<!DOCTYPE html>
<html>
<title>Home</title>

<head>
  <link href="../CSS/home.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <div class="dropdown">
    <button class="dropbtn">Version
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Compare US Sources</a>
      <a href="#">Compare Foreign Sources</a>
      <a href="#">Compare US & Foreign Sources</a>
    </div>
  </div>
  <div style='text-align:right;'>
  <a href="{{ login_url }}" class="button"> Log In</a></right>
</div>
</div>

</div>

</body>
<div class="user">
  {% if current_user %}
  <a href="{{ logout_url }}" class="button"> Log Out</a><br>
  <p class="welcome">Welcome, {{ current_user.email() }}!</p>

  {% else %}
    <!-- <a href="{{ login_url }}" class="button"> Log In</a> -->
  {% endif %}
</div>

<ul>
{% for person in people %}
  {% if current_user and current_user.email() == person.email %}
  <li><strong><a href="/profile?key={{ person.key.urlsafe() }}">{{person.name}}</a></li>
  {% else %}
  <li><a href="/profile?key={{ person.key.urlsafe() }}">{{person.name}}</a></li>
  {% endif %}
{% endfor %}
</ul>

<body>
  <div class="content">

    <center>
      <h1 class="icon">Juxtapost</h1>
      <form action="/results" method="post">
        <input name="search_term" type="text" placeholder="Search...">
        <button type="Search"><i class="fas fa-search fa-2x"></i></button>
        <center>
          <p>Choose two sources to compare top headlines:</p>
        <select name="source1">
          <option value="abc-news">ABC News</option>
          <option value="al-jazeera-english">Al Jazeera English</option>
          <option value="Argaam">Argaam</option>
          <option value="ary-news">Ary News</option>
          <option value="associated-press">Associated Press</option>
          <option value="axios">Axios</option>
          <option value="bbc-news">BBC News</option>
          <option value="bloomberg">Bloomberg</option>
          <option value="breitbart-news">Breitbart News</option>
          <option value="business-insider">Business Insider</option>
          <option value="buzzfeed">Buzzfeed</option>
          <option value="cbs-news">CBS News</option>
          <option value="cnn">CNN</option>
          <option value="cnn-es">CNN Spanish</option>
          <option value="daily-mail">Daily Mail</option>
          <option value="der-tagesspiegel">Der Tagesspiegel</option>
          <option value="die-zeit">Die Zeit</option>
          <option value="el-mundo">El Mundo</option>
          <option value="financial-post">Financial Post</option>
          <option value="financial-times">Financial Times</option>
          <option value="fortune">fortune</option>
          <option value="fox-news">FOX</option>
          <option value="globo">Globo</option>
          <option value="google-news">Google News</option>
          <option value="goteborgs-posten">Goteborgs-Posten</option>
          <option value="handelsblatt">Handelsblatt</option>
          <option value="independent">Independent</option>
          <option value="national-geographic">National Geographic</option>
          <option value="nbc-news">NBC News</option>
          <option value="politico">Politico</option>
          <option value="reuters">Reuters</option>
          <option value="the-american-conservative">The American Conservative</option>
          <option value="the-economist">The Economist</option>
          <option value="the-hill">The Hill</option>
          <option value="the-huffington-post">The Huffington Post</option>
          <option value="the-new-york-times">The New York Times</option>
          <option value="the-telegraph">The Telegraph</option>
          <option value="the-wall-street-journal">The Wall Street Journal</option>
          <option value="the-washington-post">The Washington Post</option>
          <option value="time">Time</option>
          <option value="usa-today">USA Today</option>
          <option value="wired">Wired</option>
        </select>
        <select name="source2">
          <option value="abc-news">ABC News</option>
          <option value="al-jazeera-english">Al Jazeera English</option>
          <option value="Argaam">Argaam</option>
          <option value="ary-news">Ary News</option>
          <option value="associated-press">Associated Press</option>
          <option value="axios">Axios</option>
          <option value="bbc-news">BBC News</option>
          <option value="bloomberg">Bloomberg</option>
          <option value="breitbart-news">Breitbart News</option>
          <option value="business-insider">Business Insider</option>
          <option value="buzzfeed">Buzzfeed</option>
          <option value="cbs-news">CBS News</option>
          <option value="cnn">CNN</option>
          <option value="cnn-es">CNN Spanish</option>
          <option value="daily-mail">Daily Mail</option>
          <option value="der-tagesspiegel">Der Tagesspiegel</option>
          <option value="die-zeit">Die Zeit</option>
          <option value="el-mundo">El Mundo</option>
          <option value="financial-post">Financial Post</option>
          <option value="financial-times">Financial Times</option>
          <option value="fortune">fortune</option>
          <option value="fox-news">FOX</option>
          <option value="globo">Globo</option>
          <option value="google-news">Google News</option>
          <option value="goteborgs-posten">Goteborgs-Posten</option>
          <option value="handelsblatt">Handelsblatt</option>
          <option value="independent">Independent</option>
          <option value="national-geographic">National Geographic</option>
          <option value="nbc-news">NBC News</option>
          <option value="politico">Politico</option>
          <option value="reuters">Reuters</option>
          <option value="the-american-conservative">The American Conservative</option>
          <option value="the-economist">The Economist</option>
          <option value="the-hill">The Hill</option>
          <option value="the-huffington-post">The Huffington Post</option>
          <option value="the-new-york-times">The New York Times</option>
          <option value="the-telegraph">The Telegraph</option>
          <option value="the-wall-street-journal">The Wall Street Journal</option>
          <option value="the-washington-post">The Washington Post</option>
          <option value="time">Time</option>
          <option value="usa-today">USA Today</option>
          <option value="wired">Wired</option>        </select>
        </center>


      </form>
    </center>


  </div>
</body>

<script src="../Javascript/home.js"></script>
</html>
